#include <os2.h>
#include "kime.h"
#include "kimedlg.h"

MENU ID_POPUP
BEGIN
    MENUITEM "~Hide", IDM_HIDE
    MENUITEM "~Options...", IDM_OPTIONS
    MENUITEM SEPARATOR
    MENUITEM "E~xit", IDM_EXIT
END

DLGTEMPLATE IDD_OPTDLG 
BEGIN
	DIALOG "Options", 100, 116, 87, 168, 140, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 32, 10, 51, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "Cancel", DID_CANCEL, 86, 10, 51, 14
		CONTROL "Keyboard Layout", IDG_KBDLAYOUT, 35, 75, 100, 55, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "KBD2", IDB_KBD2, 59, 108, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "KBD390", IDB_KBD390, 59, 94, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "KBD3F", IDB_KBD3F, 59, 80, 50, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_TABSTOP
		CONTROL "Ztelnet Patch", IDG_PATCHGROUP, 34, 34, 100, 34, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "3 bulsik", IDB_3BUL, 58, 49, 50, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Chatting line", IDB_CHATLINE, 58, 37, 55, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_TABSTOP
	END

END

