#include <os2.h>
#include "kime.h"
#include "kimedlg.h"

MENU ID_POPUP
BEGIN
    MENUITEM "~Hide", IDM_HIDE
    MENUITEM "~Reload", IDM_RELOAD
    MENUITEM "~Options...", IDM_OPTIONS
    MENUITEM SEPARATOR
    MENUITEM "E~xit", IDM_EXIT
END

DLGTEMPLATE IDD_OPTDLG
BEGIN
	DIALOG "Options", 100, 18, 31, 313, 187, WS_VISIBLE, FCF_TITLEBAR
	BEGIN
		DEFPUSHBUTTON "OK", DID_OK, 51, 9, 98, 14, BS_PUSHBUTTON | BS_DEFAULT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "Cancel", DID_CANCEL, 164, 9, 98, 14
		CONTROL "Keyboard Layout", IDG_KBDLAYOUT, 21, 109, 87, 68, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", IDB_KBD2, 28, 153, 73, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "", IDB_KBD390, 28, 136, 73, 10, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE
		CONTROL "", IDB_KBD3F, 28, 119, 73, 8, WC_BUTTON, BS_AUTORADIOBUTTON | WS_VISIBLE
		CONTROL "두벌식", IDHS_KBD2, 41, 154, 60, 8, "HanStaticText", WS_VISIBLE | WS_GROUP
		CONTROL "세벌식 390", IDHS_KBD390, 41, 137, 60, 8, "HanStaticText", WS_VISIBLE
		CONTROL "세벌식 최종", IDHS_KBD3F, 41, 119, 60, 8, "HanStaticText", WS_VISIBLE
		CONTROL "OS/2 IME", IDG_OS2IME, 21, 55, 87, 47, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", IDB_USEOS2IME, 27, 80, 73, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "OS/2 IME 사용", IDHS_USEOS2IME, 40, 81, 60, 8, "HanStaticText", WS_VISIBLE | WS_GROUP
		CONTROL "Font Association", IDG_FONTASSOCIATION, 129, 55, 171, 122, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
        CONTROL "현재 :", IDHS_CURRENT, 137, 159, 154, 8, "HanStaticText", WS_VISIBLE | WS_GROUP
		CONTROL "없음", IDHS_CURRENTFONT, 137, 149, 154, 8, "HanStaticText", WS_VISIBLE | WS_GROUP
        CONTROL "Font List", IDLB_FONTLIST, 137, 79, 154, 68, WC_LISTBOX, LS_OWNERDRAW | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Apply", IDB_FONTAPPLY, 195, 59, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
	END

END

